canvas {
    border: 2px solid black;
    padding: 0;
    margin: auto;
    display: block;
}

#niveau {
    display: inline;
    margin: 2%;
}

.container {
    margin: auto;
    width: 80%;
}

.center {
    text-align: center;
}


.invisible {
    display: none;
}

#retour_menu {
    margin-top: 2%;
    display: inline;
}

h1 {
    font-size: 3em
}

.levels {
    margin-top: 2%;
}

.theme-button {
    margin: 1%;
    padding: 10px 10px;
    font-family: 'Ubuntu', sans-serif;
    background: none;
    display: inline-block;
    font-size: 1em;
    font-weight: 8  00;
    border: 3px solid black;
    width: 150px;
}

body {
    background-image: url("./content/desert.jpg");
    background-size: 100%;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

#lose-msg {
    height: 10%;
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    background: rgba(182, 182, 179, 0.65);
    padding: 2em 0;
}

.points{
    float: left;
    text-align: center;
    padding: 1em 7em;
}

#pointsSimple{
    margin-left: 310px;
}